.Modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.Modal__content {
    background-color: #fff;
    border-radius: 10px;
    max-width: 600px;
    padding: 30px;
    position: relative;
    width: 100%;
}

.Modal__close {
    cursor: pointer;
    font-style: normal;
    position: absolute;
    right: 10px;
    top: 10px;
}